/* base classes */
.inline-block{
    display: inline-block;
}
.vertical-top{
    vertical-align: top;
}
.vertical-middle{
    vertical-align: middle;
}
.vertical-bottom{
    vertical-align: bottom;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.clear{
    clear: both;    
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}
.relative{
    position: relative;
}

/* base classes */



/* navigation */
.logo{
    width: 100px;
    
   
}

.navigation{
    display: inline-block;
    margin-right: 150px;
}
.navigation-a{
    padding: 0px 15px;
    font-size: 22px;
    color: #3D58A6;
    display: inline-block;
    opacity: 1;
    /*transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 1s;
    transition-delay: 1s;*/
    transition: opacity .3s linear 1s;
}
.navigation-a:hover{
    opacity: 0.5;
}
.navigation-li{
    display: inline-block;
}

.main{
    padding-top: 95px;
}

.header{
    padding: 30px 0px;
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0;
}
/* navigation */

/*social */
.social-ul{
    display: inline-block;
}

.social-li{
    display: inline-block;
}

.social-a{
    padding: 0 15px;
    border-right-color: #3D58A6;
    border-right-style: solid;
    border-right-width: 3px;
}

.social-li:last-child .social-a{
    padding-right: 0;
    border: 0;
}

.social-google{
    height: 30px;
}
.social-facebook{
    height: 30px;
}
.social-youtube{
    height: 30px;
}
.social-search{
    height: 30px;
}
/*social */

/* banner */
.banner-container{
    background-color: #E6E6E6;
    padding: 30px 0;
    /* animation: test 2s linear; */
}

.mini-logo{
    width: 100px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.banner-ul{
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 30px;
    color: #E6E6E6;
}
/* banner */

/* video */
.video-section{
    background-color: #363E97;
    height: 500px;
    color: #E6E6E6;
}

.iframe-video{
    width: 570px;
    height: 320px;
}
/* video */

/* news-section */
.article-news{
    width: 270px;
}
.news-img{
    display: block;
}
.newses-section{
    padding-bottom: 90px;
    background-color: #BDCCD4;

}
.newses-section .article-title{
width: 100%;
background-color: #E6E6E6;
line-height: 60px;
font-size: 22px;
text-transform: uppercase;
padding-left: 15px;
}
.article-news{
    margin-left: 30px;
}
.newses-section .article-news:nth-child(1){
    margin-left: 0;
}


/* news-section */
/* secon page */
.date{
    background-color: #3D58A6;
    display: inline-block;
    padding: 8px;
    font-size: 48px;
    color: aliceblue;
    margin-top: 42px;
}
.month{
    display: block;
    font-size: 22px;
    color: #3D58A6;
}
.par{
    margin-top: 30px;
}
.h1{
    font-size: 20px;
    margin-top: 16px;
    display: block;

}
.article{
    margin-top: 16px;
    margin-left: 30px;
}
.img-article{
    margin-top: 23px;
}

/* second page */

/* CONTACT */
.navigation-box{
    background-color: #EE4036;
    left: 0;
    width: 100%;
    line-height: 90px;
    
}
.navigation-box-a{
    color: wheat;
    font-size: 22px;
}
/* CONTACT */

/* google map */
.map-block{
    background-color: #E6E6E6;
    padding: 30px 0px;
}

.map-block .map{
    height: 460px;
    display: block;
}
/* google map */
/* form */
.form-row{
    margin-top: 15px;
}

.form-block .left-block{
    width: 365px;
}
.form-block .right-block{
    width: calc(100% - 365px);
    padding-right: 170px;
}
.form-row input,
.form-row textarea{
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: 3px solid #ffff;
    background-color: transparent;
    padding-left: 25px;
    color:  #ffff;
    margin-top: 15px;
}
.form-row textarea{
   height: 100px;
   
}
.form-row label{
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    padding-left: 25px;
}
.form-row input::placeholder{
    color: #5E65AC;
}
.form-wrapper{
    background-color: #363E97;
    padding: 30px 0px;
}

.send{
    background-color: #EE4036;
    height: 45px;
    width: 130px;
    text-transform: uppercase;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 27px;
}

/* form */

.contact-section{
    
background-color: #E6E6E6;
padding: 30px 0px 30px 30px;
}
.contact-section-left{
    display: inline-block;
  vertical-align: top;
}
    
.contact-section-right{
    width: 280px;
   display: inline-block;
   vertical-align: top;
   
    
    
}

.row{
   
    margin: 5px auto;
}
.contact-title{
    font-size: 20px;
    color: #3D58A6;
}
.key{
    color: #808080;
}
.feature{
    background-color: #E6E6E6;
    padding: 30px 0px;

}


.feature-title-1{
    text-transform: uppercase;
    font-size: 24px;
    line-height: 90px;
}
.feature-title-1 a{
    text-transform: lowercase;
    font-size: 24px;
}
.featured-img-content{
   
    margin-left: 30px;
    
}
.featured-article{
    display: inline-block;
    vertical-align: top;
    width: 570px;
    background-color: #F2F2F2;
     padding: 15px 25px 40px 15px;
}
.featured-article.left{
    margin-left: 30px;

}

.featured-article h1{
    text-transform: uppercase;
    color: #3D58A6;
    font-size: 22px;
    margin-bottom: 20px;
    
}
.content-img{
    width: 100px;
    margin: auto 60px auto 15px;
    display: inline-block;

}
.content-p{
    width: calc(100% - 185px);
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    font-size: 20px;
}
/* footer */
.footer{
    line-height: 60px;
}
/* footer */

/*@keyframes test{
    from{
        background-color: red;
        height: 50px;
    }
    to{
        background-color: yellow;
        height: 500px;
    }
}*/
/*@keyframes test{
    0%{
        background-color: yellow;
        transform: rotate (0deg)
    
    }
    30%{
        background-color: white
    
    }
    >>>overflow: hidden;
    >>>transform: skew(-29deg);
    >>>transfotm: scale(1.2);
}*/