.logo{
    width: 100px;
    margin-left: 30px;
    margin-top: 30px;
}

.navigation{
    margin-top: 27px;
    margin-left: 30px;
}
.navigation-a{
    padding: 7.5px 0px;
    font-size: 22px;
    color: #3D58A6;
    display: inline-block;
}
.banner{
    margin-top: 27px;
    margin-left: 30px;
}


.date{
    background-color: #3D58A6;
    display: inline-block;
    padding: 8px;
    font-size: 48px;
    color: aliceblue;
    margin-top: 42px;
}
.month{
    display: block;
    font-size: 22px;
    color: #3D58A6;
}
.par{
    margin-top: 30px;
}
.h1{
    font-size: 20px;
    margin-top: 16px;
    display: block;

}
.article{
    margin-top: 16px;
    margin-left: 30px;
}
.img-article{
    margin-top: 23px;
}
