.logo{
    width: 100px;
    margin-left: 30px;
    margin-top: 30px;
}

.navigation{
    margin-top: 27px;
    margin-left: 30px;
}
.navigation-a{
    padding: 7.5px 0px;
    font-size: 22px;
    color: #3D58A6;
    display: inline-block;
}
.banner{
    margin-top: 27px;
    margin-left: 30px;
}


.date{
    background-color: #3D58A6;
    display: inline-block;
    padding: 8px;
    font-size: 48px;
    color: aliceblue;
    margin-top: 42px;
}
.month{
    display: block;
    font-size: 22px;
    color: #3D58A6;
}
.par{
    margin-top: 30px;
}
.h1{
    font-size: 20px;
    margin-top: 16px;
    display: block;

}
.article{
    margin-top: 16px;
    margin-left: 30px;
}
.img-article{
    margin-top: 23px;
}
.contact-section{
    
background-color: #E6E6E6;
padding: 30px 0px 30px 30px;
}
.contact-section-left{
    display: inline-block;
  vertical-align: top;
}
    
.contact-section-right{
    width: 280px;
   display: inline-block;
   vertical-align: top;
   
    
    
}
.google{
    width: 874px;
    height: 430px;
    border: 0;
}
.row{
   
    margin: 5px auto;
}
.contact-title{
    font-size: 20px;
    color: #3D58A6;
}
.key{
    color: #808080;
}
.feature-title-1{
    margin-top: 122px;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 20px;
}
.feature-title-1 a{
    text-transform: lowercase;
    font-size: 24px;
}
.featured-img-content{
   
    margin-left: 30px;
    
}
.featured-article{
    display: inline-block;
    vertical-align: top;
    width: 570px;
    background-color: #F2F2F2;
     padding: 15px 25px 40px 15px;
}
.featured-article.left{
    margin-left: 30px;

}

.featured-article h1{
    text-transform: uppercase;
    color: #3D58A6;
    font-size: 22px;
    margin-bottom: 20px;
    
}
.content-img{
    width: 100px;
    margin: auto 60px auto 15px;
    display: inline-block;

}
.content-p{
    width: calc(100% - 185px);
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    font-size: 20px;
}

