/* burger menu */

.burger-menu {
    width: 60px;
    height: 60px;
    border: 1px solid #363E97;
    overflow: hidden;
    cursor: pointer;
    display: none;
}
.burger-menu .arrow{
  width: 40px;
  height: 5px;
  background-color: #363E97;
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%, -50%) rotate(0deg);
  transition: all .3s linear;
}
.burger-menu .arrow:nth-child(1){
    top: 30%;
}
.burger-menu .arrow:nth-child(3){
    top: 70%;
}

.burger-menu:hover .arrow:nth-child(1){
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.burger-menu:hover .arrow:nth-child(3){
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
.burger-menu:hover .arrow:nth-child(2){
    left: -100%;
}
/* burger menu */

/*social */
.social-ul{
    display: inline-block;
}

.social-li{
    display: inline-block;
}

.social-a{
    padding: 0 15px;
    border-right-color: #3D58A6;
    border-right-style: solid;
    border-right-width: 3px;
}

.social-li:last-child .social-a{
    padding-right: 0;
    border: 0;
}

.social-google{
    height: 30px;
}
.social-facebook{
    height: 30px;
}
.social-youtube{
    height: 30px;
}
.social-search{
    height: 30px;
}
/*social */

/* banner */
.banner-container{
    background-color: #E6E6E6;
    padding: 30px 0;
    /* animation: test 2s linear; */
}

.mini-logo{
    width: 100px;
    position: absolute;
    right: 30px;
    bottom: 30px;
}
.banner-ul{
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 30px;
    color: #E6E6E6;
}
/* banner */

/* video */
.video-section{
    background-color: #363E97;
    height: 500px;
    color: #E6E6E6;
}

.iframe-video{
    width: 570px;
    height: 320px;
}

.video-wrapper{
    display: flex;
    justify-content: space-between;
}
/* video */

/* news-section */
.article-news{
    width: 270px;
}
.news-img{
    display: block;
    width: 100%;
}
.newses-section{
    padding-bottom: 90px;
    background-color: #BDCCD4;

}
.newses-section .article-title{
width: 100%;
background-color: #E6E6E6;
line-height: 60px;
font-size: 22px;
text-transform: uppercase;
padding-left: 15px;
}

.newses-section .article-news:nth-child(1){
    margin-left: 0;
}
.article-wrapper{
    display: flex;
    justify-content: space-between;
}

/* news-section */
/* news */
.date-block{
    display: flex;
    width: 60px;
    height: 60px;
    border: 1px solid #BDCCD4;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}
.date{
    font-size: 34px;
    color: #363E97;
}
.month{
    font-size: 12px;
    text-transform: uppercase;
    color: #363E97;
}
.new-tittle{
    text-transform: uppercase;
    font-size: 22px;
    color: #363E97;
    margin-top: 30px;
}
.text{
    line-height: 24px;
    color: #58595B;
    font-size: 20px;
}

.new-article-img{
    margin-right: 20px;
    margin-bottom: 20px;
}
.article-text-wrapper{
    margin-top: 30px;
}


/* news */

/*reseurse-tag-wrapper*/

.reseurse-tag{
    background-color: #BDCCD4;
    line-height: 90px;
}
.reseurse-tag-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reseurse-tag-img{
    height: 20px;
}
.left-block{
    font-size: 22px;
    color: #FFFFFF;
    text-decoration: underline;
}
.reseurse-tag-a{
    padding: 0px 5px;
    height: 100%;
    align-items: center;
    display: flex;
}
.reseurse-tag-img{
    padding: inherit;
}
/*reseurse-tag-wrapper*/

/* CONTACT */
.navigation-box{
    background-color: #EE4036;
    left: 0;
    width: 100%;
    line-height: 90px;
    
}
.navigation-box-a{
    color: wheat;
    font-size: 22px;
}
/* CONTACT */

/* google map */
.map-block{
    background-color: #E6E6E6;
    padding: 30px 0px;
}

.map-block .map{
    height: 460px;
    display: block;
}
/* google map */
/* form */
.form-row{
    margin-top: 15px;
}

.form-block .left-block{
    width: 365px;
}
.form-block .right-block{
    width: calc(100% - 365px);
    padding-right: 170px;
}
.form-row input,
.form-row textarea{
    width: 100%;
    height: 60px;
    font-size: 20px;
    border: 3px solid #ffff;
    background-color: transparent;
    padding-left: 25px;
    color:  #ffff;
    margin-top: 15px;
}
.form-row textarea{
   height: 100px;
   
}
.form-row label{
    color: white;
    text-transform: capitalize;
    font-size: 20px;
    padding-left: 25px;
}
.form-row input::placeholder{
    color: #5E65AC;
}
.form-wrapper{
    background-color: #363E97;
    padding: 30px 0px;
}

.send{
    background-color: #EE4036;
    height: 45px;
    width: 130px;
    text-transform: uppercase;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 27px;
}

/* form */

.contact-section{
    
background-color: #E6E6E6;
padding: 30px 0px 30px 30px;
}
.contact-section-left{
    display: inline-block;
  vertical-align: top;
}
    
.contact-section-right{
    width: 280px;
   display: inline-block;
   vertical-align: top;
   
    
    
}

.row{
   
    margin: 5px auto;
}
.contact-title{
    font-size: 20px;
    color: #3D58A6;
}
.key{
    color: #808080;
}
.feature{
    background-color: #E6E6E6;
    padding: 30px 0px;

}
/* article wrapper */
.article-wrapper{
    display: flex;
    justify-content: space-between;
}
.feature-title-1{
    text-transform: uppercase;
    font-size: 24px;
    line-height: 90px;
}
.feature-title-1 a{
    text-transform: lowercase;
    font-size: 24px;
}

.featured-article{
    display: inline-block;
    vertical-align: top;
    width: 570px;
    background-color: #F2F2F2;
     padding: 15px 25px 40px 15px;
}


.featured-article h1{
    text-transform: uppercase;
    color: #3D58A6;
    font-size: 22px;
    margin-bottom: 20px;
    
}
.content-img{
    width: 100px;
    margin: auto 60px auto 15px;
    display: inline-block;

}
.content-p{
    width: calc(100% - 185px);
    display: inline-block;
    vertical-align: top;
    line-height: 24px;
    font-size: 20px;
}
/* footer */
.footer{
    line-height: 60px;
}
.footer-wrapper{
    display: flex;
    justify-content: space-between;
}
/* footer */

/* overlay */
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -100%;
    background: #FFFFFF;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s linear, visibility 1s linear, left .3s linear;
    padding-top: 120px;
    
}

.overlay.active{
    opacity: 1;
    visibility: visible;
    left: 0;
}
.img-overlay{
    height: 30px;
}
.mobile-nav{
    display: none;
}
.mobile-social-ul{
    display: none;
}
/* .overlay.active{
    opacity: 1;
    visibility: visible;
} */

/* overlay */

/*@keyframes test{
    from{
        background-color: red;
        height: 50px;
    }
    to{
        background-color: yellow;
        height: 500px;
    }
}*/
/*@keyframes test{
    0%{
        background-color: yellow;
        transform: rotate (0deg)
    
    }
    30%{
        background-color: white
    
    }
    >>>overflow: hidden;
    >>>transform: skew(-29deg);
    >>>transfotm: scale(1.2);
}*/